{% extends "base.html" %}

{% block content %}
    <h3>Add Recipe</h3>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-scroll prefix"></i>
                    <input id="recipe_name" type="text" name="recipe_name" class="validate">
                    <label for="recipe_name">Name of the Recipe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <i class="fas fa-egg prefix"></i>
                    <input id="tools" type="text" name="tools" class="validate">
                    <label for="tools">Add Tools Needed</label>       
                </div>
                <div class="col s3">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Add Tool
                        </button>   
                </div>
            </div>   
            <div class="row">
                <div class="input-field col s9">
                    <i class="fas fa-drumstick-bite prefix"></i>
                    <input id="ingredients" type="text" name="ingredients" class="validate">
                    <label for="ingredients">Ingredients</label>       
                </div>
                <div class="col s3">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Add Ingredients
                        </button>   
                </div>
            </div>   
            <div class="row">
                <div class="input-field col s9">
                    <i class="fas fa-list-ol prefix"></i>
                    <textarea id="preparation" name="preparation" class="materialize-textarea"></textarea>
                    <label for="preparation">Preparation Steps</label>
                </div>
                <div class="col s3">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Add Preparation Steps
                        </button>   
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-concierge-bell prefix"></i>
                    <input id="serving" type="number" name="serving" class="validate">
                    <label for="serving">Number of Serving For</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-layer-group prefix"></i>
                    <select>
                        <option value="" disabled selected>Select Difficulty</option>
                        <option value="1">Easy</option>
                        <option value="2">Medium</option>
                        <option value="3">Hard</option>
                    </select>
                    <label>Select Difficulty</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch"> 
                        <i class="fas fa-carrot prefix"></i>
                        <label for="vegetarian">
                            Vegetarian
                        <input type="checkbox" id="vegetarian" name="vegetarian">
                        <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
        
{% endblock %}