{% extends "base.html" %}

{% block content %}
 <h3 class="font-change">All Recipes</h3>

    <div class="row row-fix">
 {% for recipe in recipes %}
        <div class="col s12 m6 recipe-content">
            <div class="card medium sticky-action">
                <div class="card-image">
                    <img src="../static/assets/images/cook-366875_640.jpg" class="activator" height="255px">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i class="fas fa-ellipsis-v right"></i></span>
                    <p>Added by: {{ recipe.added_by }}</p>
                </div>

                <div class="card-reveal">
                    <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i class="fas fa-times right"></i></span>
                    <p>Difficulty: {{ recipe.difficulty }}</p>
                    <p>Serving: {{ recipe.serving }}</p>
                    <h5>Ingredients:</h5>
                   {% for ingredient in recipe.ingredients %}
                        <ul class="browser-default">
                            <li>{{ ingredient }}</li>
                        </ul>
                   {% endfor %}
                </div>
                <div class="card-action">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn-small light-green accent-3">View</a>
                    {% if recipe.vegetarian == "yes" %}
                    <span class="right">Vegetarian</span>
                    {% endif %}
                </div>
            </div>
        </div> 
 {% endfor %}
    </div>

    <div class="row center">
        <div class="col s12">
            <ul class="pagination add-page">
                    
            </ul>
        </div>
    </div>

{% endblock %}

