{% extends "base.html" %}

{% block content %}
<h4>{{ viewed_recipe.recipe_name }}</h4>
<h6>Serving: {{ viewed_recipe.serving }}</h6>

<div class="container">

        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel recipe-card ingred-card">
                        <span class="card-title center-align"><h5 class="card-heading">Ingredients</h5></span>
                        {% for ingredient in viewed_recipe.ingredients %}
                            <ul class="browser-default">
                                <li>{{ ingredient }}</li>
                            </ul>
                        {% endfor %}
                </div>
            </div>

            <div class="col s12 m5 offset-m2">
                <div class="card-panel recipe-card tool-card">
                    <span class="card-title center-align"><h5 class="card-heading">Tools</h5></span>
                    {% for tool in viewed_recipe.tools %}
                        <ul class="browser-default">
                            <li>{{ tool }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel recipe-card prep-card">
                        <span class="card-title center-align"><h5 class="card-heading">Preparation Steps</h5></span>
                        {% for step in viewed_recipe.preparation %}
                        <ul>
                            <li><span>{{ loop.index }}</span>. {{ step }}</li>
                        </ul>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
            {% if session.current_user == viewed_recipe.added_by or session.current_user == 'admin' %}
                <a href="{{ url_for('edit_recipe', recipe_id=viewed_recipe._id) }}" class="btn-large waves-effect waves-light light-green accent-3">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=viewed_recipe._id) }}" class="btn-large red accent-4 del">Delete</a>
            {% endif %}
            </div>
        </div>
</div>



    

{% endblock %}